@import "variables";


 .Home-clase {
 
 color: $cool-red;
 text-align: $texto-alineado;
 align-items: center;
 border: $Border-solid;
 font-size: $font-sizee;
 background-color: cornflowerblue;
 font-family: $title-font

}

.Body-Home{
    background-image: linear-gradient(
    to bottom,
    rgba(0, 255, 191, 0.5),
    rgba(153, 0, 255, 0.562)
  ), url("catfront.png");

}

.Titulo-sobre-nosotros{
    color: $cool-salmon;
    text-align: $texto-alineado;
    border: $Border-solid;
    font-size: $font-sizee;
    background-color: gray;
    font-family: $font-familia;
   
}

.Body-Home1{
    background-image: linear-gradient(
    to bottom,
    ORANGE,
    YELLOW
  ), url("catfront.png");
}

.Body-Contactos{
    background-image: linear-gradient(
    to bottom,
    #deb887,
    #f08080), url("catfront.png");
}

.Body-Home3{
    background-image: linear-gradient(
        to bottom,
        #ffb6c1,
        #bc8f8f), url("catfront.png"); 
}

.Body-Home2{
    background-image: linear-gradient(
        to bottom,
        #48d1cc,
        #9acd32), url("catfront.png"); 
}
   

