$title-font:'Pangolin', cursive;
$cool-red: rgb(233, 183, 109);
$Border-solid: 1px solid black;
$texto-alineado: center;
$font-sizee: 55px;
$font-familia:'Leckerli One', cursive;
$cool-salmon: darksalmon





